
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.bgr{
    background: -webkit-gradient(linear, left bottom, right top, from(#07fccb), to(#0980ff));
    margin: 0;
    padding-top: 130px;
    padding-bottom: 100px;
}

h1{
    margin-bottom: 22px;
    text-align: center;
}


.container {
    padding: 50px;
    margin: 0 auto;
    max-width: 680px;
    background-color: #FFF;
    border-radius: 10px;
}
.row{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
}

input{
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

.label{
    font-size: 16px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}
.input-style{
    height: 50px;
    background: #f6f6f6;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 16px;
    color: #000;
    border: none;
}
.p-t-15{
    display: flex;
    justify-content: center;
}
.p-t-10{
    padding-top: 10px;
}

.m-g-60{
    margin-right: 60px;
}
.radio-container{
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #666;
}


.btn {

    border-radius: 5px;
    line-height: 50px;
    padding: 0 50px;

    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 18px;
    background: #095581;
    color: #fff;

}

.btn:hover {
    background: #0980ff;
}

@media (max-width: 767px) {
    .input-group{
        width: 100%;
    }
    .gender{
        margin-top: 22px;
    }

}
